<section>
  <div class="about-banner-container">
    <video muted autoplay loop class="d-sm-none w-100">
      <source src="https://cdn.shopify.com/videos/c/o/v/9a12be6ea57843788c49fae57f242832.mp4" type="video/mp4">
    </video>
    <video muted autoplay loop class="d-none d-sm-block w-100">
      <source
        src="https://cdn.shopify.com/videos/c/vp/b6f4b810df3845cf94a6a5ae116b3c62/b6f4b810df3845cf94a6a5ae116b3c62.HD-720p-4.5Mbps-18882035.mp4"
        type="video/mp4"
      >
    </video>
  </div>

  <div class="container about-main-container">
    <div class="about-section row section-one ">
      <div class="col-12 col-md-4 p-0 order-1 order-md-0 mt-auto">
        <video muted autoplay loop class="w-100 section-one-video">
          <source src="https://cdn.shopify.com/videos/c/o/v/7f8b90dc3d604deabf62f3b42a9ebcc1.mp4" type="video/mp4">
        </video>
      </div>
      <div class="col-12 col-md-8 about-text-section order-0 order-md-1">
        <p class="about-text mb-0">
          The name "Hey!" encapsulates our vision of inclusivity & approachability. It's an invitation for everyone to
          say <span class="about-bold-text">"Hey!"</span> & roll into the world of globally popular beauty brands at
          affordable prices.
        </p>
        <p class="about-heading mb-0">Beauty is for all so why restrict it to borders?</p>
      </div>
      <p class="mb-0 brand-vertical-text">HEY!</p>
    </div>

    <div class="about-section row section-two ">
      <div class="col-12 col-md-8 about-text-section">
        <p class="about-section-title mb-0">For you, With Love</p>
        <p class="about-text mb-0">
          Hey! Makeup celebrates the vibe of being gorgeously you.<br>
          We are here to embrace confidence, individuality, and the belief that
        </p>
        <p class="about-bold-text mb-0">beauty is for every "Hey!" that graces this world.</p>
      </div>
      <div class="col-12 col-md-4 p-0">
        <img
          src="https://cdn.shopify.com/s/files/1/0673/6396/3172/files/VIBE_IMAGES_1.svg?v=1697613553"
          alt=""
          class="img-fluid"
          loading="lazy"
        >
      </div>
      <p class="brand-vertical-text mb-0">Vibe</p>
    </div>

    <div class="about-section row">
      <div class="col-12 p-0">
        <video muted autoplay loop class="d-sm-none w-100">
          <source src="https://cdn.shopify.com/videos/c/o/v/94ea9c7543c34daaae9b95c801a1adf7.mp4" type="video/mp4">
        </video>
        <video muted autoplay loop class="d-none d-sm-block w-100">
          <source
            src="https://cdn.shopify.com/videos/c/vp/b6f4b810df3845cf94a6a5ae116b3c62/b6f4b810df3845cf94a6a5ae116b3c62.HD-720p-4.5Mbps-18882035.mp4"
            type="video/mp4"
          >
        </video>
      </div>
    </div>

    <div class="about-section row section-four">
      <div class="col-12 about-text-section">
        <p class="about-section-title mb-0">Defying Boundaries & Norms</p>
        <p class="about-text mb-0">
          We envision to become the synonym to Makeup, skincare and wellness for the trend forward and expressive
          individuals.
        </p>
        <p class="about-text mb-0">
          We host globally renowned beauty brands known for setting trends and leading innovation in the industry. Our
          goal is to introduce them to the Indian market & reduce the hassle to bag your favorite international brands
          <span class="about-bold-text">because why pay customs when you can buy it all here?</span>
        </p>
        <p class="about-text mb-0">
          And you can bet on us for the real deal as we source all our products straight from the brands. We are
          basically the <span class="about-bold-text">OGs sharing global trends and beauty secrets with everyone.</span>
        </p>
      </div>
      <div class="col-12 p-0">
        <img
          src="https://cdn.shopify.com/s/files/1/0673/6396/3172/files/vision_image.svg?v=1697608686"
          alt="hey"
          class="img-fluid d-none d-sm-block"
        >
        <img
          src="https://cdn.shopify.com/s/files/1/0673/6396/3172/files/VISION_IMAGE_1.svg?v=1697716092"
          alt="hey"
          class="img-fluid d-sm-none"
        >
      </div>
      <p class="brand-vertical-text mb-0">Vision</p>
    </div>

    <div class="about-section row section-five">
      <div class="col-12 about-text-section">
        <p class="about-section-title mb-0">At Hey! We Value you</p>
        <p class="about-text mb-0">
          We're all about keeping our promises to our customers & putting them at the forefront of everything we're
          about.
        </p>
        <p class="about-text mb-0">
          At Hey! we celebrate your love and passion for beauty and trends by
          <span class="about-bold-text"
            >ensuring a hassle-free shopping experience, seamless support interactions, and quicker deliveries,</span
          >
          because why should you wait longer?
        </p>
        <p class="about-text mb-0">
          we are the sole distributors of international beauty brands to Mega e-commerce platforms. We also offer an
          <span class="about-bold-text">exclusive range of products, brands, and trends available ONLY at hey!</span>
          for the trendsetter within you, keeping you one step ahead of the game. “Our token of love for you!”F
        </p>
      </div>
      <p class="brand-vertical-text mb-0">#Love</p>
    </div>

    <div class="about-section row slider-section">
      <div class="col-12 position-relative">
        <div class="swiper about-slider">
          <div class="swiper-wrapper">
            {% for block in section.blocks %}
              <div class="slider-card swiper-slide">
                <img src="{{block.settings.aboutcardimage |  image_url }}" alt="about-brand">
              </div>
            {% endfor %}

            {% comment %}
              <div class="slider-card swiper-slide">
                <div class="card-img">
                  <img
                    src="https://cdn.shopify.com/s/files/1/0673/6396/3172/files/kanvar-logo.png?v=1697630120"
                    alt=""
                    class="img-fluid"
                  >
                </div>
                <div class="card-body d-flex flex-column">
                  <p class="brand-date mb-0">2010</p>
                  <p class="brand-title mb-0">Kanvar Group: Setting the Foundation for Tomorrow</p>
                  <p class="brand-ceo mb-0">by Mr. nikhil bhatia</p>
                  <p class="brand-text mb-0">
                    a multi-brand, multi-category, multi channel, mass beauty innovator with proven global scale.
                  </p>
                </div>
              </div>
            {% endcomment %}
          </div>
        </div>
        <div class="about-slide-pagenation"></div>
        <div class="about-slide-next-btn">
          <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28" fill="none">
            <path d="M9.42817 5.50977L17.918 13.9996L9.42817 22.4894" stroke="white" stroke-width="2" stroke-linecap="round"/>
          </svg>
        </div>
        <div class="about-slide-prev-btn">
          <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28" fill="none">
            <path d="M18.5718 5.50977L10.082 13.9996L18.5718 22.4894" stroke="white" stroke-width="2" stroke-linecap="round"/>
          </svg>
        </div>
      </div>
    </div>
  </div>

</section>

<style>
  /* .about-banner-container {
    height: 500px;
  } */
  .about-banner {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .about-main-container {
    padding: 64px 0;
    color: #393939;
  }

  .about-section {
    margin: 8px 0 0 0;
  }

  .about-heading {
    font-family: Montserrat;
    font-size: 28px;
    font-weight: 600;
    line-height: 32px;
  }
  .about-section-title {
    font-size: 32px;
    font-weight: 500;
    line-height: 25px;
    text-transform: capitalize;
    margin-bottom: 24px;
  }
  .about-text {
    font-family: Montserrat;
    font-size: 20px;
    line-height: 32px;
  }
  .about-bold-text {
    font-size: 20px;
    font-family: Montserrat;
    font-weight: 600;
  }

  .about-text-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    padding: 32px;
  }

  .section-one-video {
    transform: rotateY(180deg);
  }

  .section-two > .about-text-section {
    /* z-index: 2; */
    padding-left: 160px;
  }
  .section-one,
  .section-two,
  .section-four,
  .section-five {
    position: relative;
    overflow: hidden;
  }

  .section-two {
    background-color: #f3f3fc;
  }

  .brand-vertical-text {
    position: absolute;
    width: fit-content;
    font-size: 160px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 160px;
    z-index: -1;
    padding: 0;
  }
  .section-one > .brand-vertical-text {
    right: -135px;
    bottom: 90px;
    color: #fffadd;
    transform: rotate(-90deg);
  }
  .section-two > .brand-vertical-text {
    left: -130px;
    bottom: 125px;
    color: #e1e2fc;
    transform: rotate(90deg);
    z-index: 1;
  }

  .section-four {
    background-color: #fff2f7;
  }
  .section-four > .about-text-section {
    padding: 120px 110px 50px 62px;
  }

  .section-four > .brand-vertical-text {
    color: #ffd2e2;
    right: -230px;
    top: 230px;
    z-index: 1;
    transform: rotate(-90deg);
  }

  .section-five {
    background-color: #f3fff8;
    padding: 165px 120px 165px 165px;
  }

  .section-five > .brand-vertical-text {
    color: #abe2c7;
    left: -230px;
    bottom: 230px;
    z-index: 1;
    transform: rotate(90deg);
  }

  .slider-section {
    padding: 100px 48px;
    background: url(https://cdn.shopify.com/s/files/1/0673/6396/3172/files/Timeline.svg?v=1697608687);
    background-size: cover;
  }

  .slider-card {
    border-radius: 16px;
    background: rgba(255, 255, 255, 0);
    backdrop-filter: blur(21px);
    height: auto;
  }
  .slider-card > img {
    width: 100%;
  }

  /* .slider-home {
    color: #393939;
    font-size: 40px;
    font-style: italic;
    font-weight: 600;
    line-height: 48px;
    text-transform: capitalize;
  } */

  /* .card-img {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 140px;
  } */
  /* .card-img > img {
    height: 100%;
    width: 100%;
    object-fit: contain;
  } */

  /* .card-body {
    color: #393939;
    text-transform: capitalize;
    gap: 4px;
  } */
  /* .brand-date {
    font-size: 20px;
    font-weight: 600;
    line-height: 24px; 
    margin-top: 52px;
  } */
  /* .brand-title {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px; 
  } */
  /* .brand-ceo {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px; 
  } */
  /* .brand-text {
    font-size: 12px;
    font-weight: 400;
    line-height: 20px; 
    margin-top: 11px;
  } */

  .about-slide-prev-btn {
    position: absolute;
    top: 50%;
    left: -30px;
  }
  .about-slide-next-btn {
    position: absolute;
    top: 50%;
    right: -30px;
  }
  .about-slide-next-btn.swiper-button-disabled,
  .about-slide-prev-btn.swiper-button-disabled {
    opacity: 0.6;
  }

  .about-slide-pagenation {
    color: #fff;
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 600;
    line-height: 20px; /* 133.333% */
    text-align: center;
    margin-top: 16px;
    position: absolute;
    bottom: -35px;
    z-index: 1;
  }

  @media only screen and (max-width:992px){
    .section-five {
      padding: 80px 32px 80px 130px;
    }
    .slider-section {
      padding: 50px 27px;
    }
    .about-slide-next-btn {
      right: -22px;
    }
    .about-slide-prev-btn {
      left: -22px;
    }
    .section-two > img {
     padding-top: 8px;
     background-color: #fff;
    }
  }

  @media only screen and (max-width: 768px) {
    /* banner section  */

    .about-main-container {
      padding: 0;
    }

    .about-text {
      font-size: 14px;
      line-height: 20px; /* 160% */
    }
    .about-heading,
    .about-bold-text {
      font-size: 15px;
      line-height: 20px; /* 114.286% */
    }
    .about-section-title {
      font-size: 20px;
      line-height: 25px; /* 114.286% */
    }

    /* section-one  */
    .section-one-video {
      transform: rotateY(0deg);
    }

    .brand-vertical-text {
      font-size: 100px;
      line-height: 80px;
    }

    .section-one > .brand-vertical-text {
      z-index: 1;
      color: #fff;
      right: -80px;
      bottom: 140px;
    }
    .section-two > .brand-vertical-text {
      left: -80px;
      bottom: unset;
      top: 90px;
    }
    .section-two  img {
     padding-top: 8px;
     background-color: #fff;
    }

    .section-two > .about-text-section {
      padding: 50px 32px 50px 100px;
    }
    .section-four > .about-text-section {
      padding: 50px 98px 48px 32px;
    }

    .section-four > .brand-vertical-text {
      top: 205px;
      right: -145px;
    }

    .section-four img {
    width: 100%;
    }

    .section-five {
      padding: 0 0 0 75px;
    }
    .section-five > .brand-vertical-text {
      color: #ABE2C7;
      left: -140px;
      bottom: 190px;
    }
    .slider-section {
      padding: 50px 27px;
    }
    .about-slide-next-btn {
      right: -22px;
    }
    .about-slide-prev-btn {
      left: -22px;
    }
  }

  @media only screen and (max-width: 576px) {
  }
</style>

<script>
  let aboutSlider = new Swiper('.about-slider', {
    slidesPerView: 4.1,
    spaceBetween: 8,
    direction: "horizontal",
    pagination: {
      el: '.about-slide-pagenation',
      type: 'fraction',
    },
    navigation: {
      nextEl: '.about-slide-next-btn',
      prevEl: '.about-slide-prev-btn',
    },
    breakpoints: {
      0: {
        slidesPerView: 1,
      },
      576: {
        slidesPerView: 2.8,
      },
      992: {
        slidesPerView: 3.2,
      },
      1192: {
        slidesPerView: 4.2,
      },
    },
  });

</script>

{% schema %}
{
  "name": "About Us",
  "settings": [
    {
      "type": "image_picker",
      "id": "aboutusbannerimage",
      "label": "Add Banner Here Image"
    }
  ],
  "blocks": [
    {
      "name": "Image Card",
      "type": "image_picker",
      "settings": [
        {
          "type": "image_picker",
          "id": "aboutcardimage",
          "label": "Add Your Card Image"
        }
      ]
    }
  ],

  "presets": [
    {
      "name": "About Us"
    }
  ]
}
{% endschema %}
