<footer class="" style="background: #FCFCFC;">

  <!-- trust badge section  -->
  <section class="container py-5">
    <div class="row align-items-center footer-trust-container">

      <div class="col-12 col-sm-6 col-lg-3 footer-trust-box">
        <img loading="lazy" src="https://cdn.shopify.com/s/files/1/0673/6396/3172/files/authentic.svg?v=1692598346"
          alt="" class="img-fluid trust-img">
        <div>
          <p class="trust-text-1 mb-0">100% authentic</p>
          <p class="trust-text-2 mb-0">All our products sourced directly from brands</p>
        </div>
      </div>

      <div class="col-12 col-sm-6 col-lg-3 footer-trust-box">
        <img loading="lazy" src="https://cdn.shopify.com/s/files/1/0673/6396/3172/files/shipping.svg?v=1692598346"
          alt="" class="img-fluid trust-img">
        <div>
          <p class="trust-text-1 mb-0">FREE SHIPPING across india</p>
          <p class="trust-text-2 mb-0">On orders above ₹600</p>
        </div>
      </div>

      <div class="col-12 col-sm-6 col-lg-3 footer-trust-box">
        <img loading="lazy" src="https://cdn.shopify.com/s/files/1/0673/6396/3172/files/payments.svg?v=1692598346"
          alt="" class="img-fluid trust-img">
        <div>
          <p class="trust-text-1 mb-0">SECURED PAYMENT</p>
          <p class="trust-text-2 mb-0">100% secure payment gateway</p>
        </div>
      </div>

      <div class="col-12 col-sm-6 col-lg-3 footer-trust-box">
        <img loading="lazy" src="https://cdn.shopify.com/s/files/1/0673/6396/3172/files/service.svg?v=1692598346" alt=""
          class="img-fluid trust-img">
        <div>
          <p class="trust-text-1 mb-0">at your service</p>
          <p class="trust-text-2 mb-0">Your convenience is our priority</p>
        </div>
      </div>

    </div>
  </section>

  <!-- newsletter section  -->

  <section style="background: #f6f6f6;">
    <div class="news-letter-container">
      <svg xmlns="http://www.w3.org/2000/svg" width="124" height="53" viewBox="0 0 124 53" fill="none"
        class="footer-logo">
        <path
          d="M1.04416 39.7479L2.54702 39.3682C3.00996 39.2602 3.38511 39.1425 3.67473 39.0152C3.96436 38.889 4.18557 38.7168 4.3395 38.4996C4.49344 38.2825 4.58922 38.0033 4.62913 37.6589C4.66675 37.3155 4.68728 36.8545 4.68728 36.2758V7.20186C4.68728 6.55149 4.66789 6.02735 4.62913 5.62836C4.59036 5.23043 4.51396 4.90525 4.39765 4.65174C4.28135 4.39929 4.09891 4.19071 3.84805 4.02811C3.59719 3.86552 3.27906 3.69437 2.89366 3.51253L0.755676 2.53698V1.28973L13.4764 0.205078L14.1126 0.639368C14.0739 1.1817 14.0351 1.77858 13.9963 2.42894C13.9576 3.00764 13.9291 3.68582 13.9097 4.46347C13.8903 5.24113 13.8812 6.0819 13.8812 6.98578V10.674C13.8812 11.4335 13.8709 12.1299 13.8527 12.7621C13.8333 13.3953 13.8036 13.9644 13.766 14.4703C13.7272 15.049 13.7078 15.5742 13.7078 16.0438H13.9975C15.5779 15.0319 17.2643 14.1548 19.0568 13.4135C20.8493 12.6733 22.8048 12.301 24.9257 12.301C27.3921 12.301 29.2712 12.8979 30.5631 14.0906C31.8539 15.2844 32.5004 17.1103 32.5004 19.5695V36.2768C32.5004 36.8919 32.5198 37.3711 32.5586 37.7145C32.5962 38.0589 32.6931 38.3381 32.8482 38.5552C33.0021 38.7724 33.2142 38.935 33.4844 39.043C33.7535 39.1511 34.1207 39.2602 34.5825 39.3682L36.0854 39.7479V41.2123H19.953V39.7479L21.3407 39.4228C21.7649 39.3147 22.1013 39.2056 22.3521 39.0976C22.6018 38.9895 22.7945 38.8355 22.9302 38.6365C23.0648 38.4387 23.1514 38.1573 23.1902 37.7958C23.2278 37.4342 23.2484 36.9283 23.2484 36.2768V21.6853C23.2484 20.022 22.92 18.8838 22.2655 18.2677C21.6098 17.6537 20.6075 17.3456 19.2586 17.3456C18.2552 17.3456 17.2723 17.4269 16.3099 17.5895C15.3464 17.7521 14.5368 17.9061 13.8812 18.0506V36.2758C13.8812 36.9261 13.9005 37.4332 13.9393 37.7947C13.9769 38.1563 14.0636 38.4461 14.1993 38.6622C14.3338 38.8794 14.5265 39.0334 14.7774 39.1232C15.0271 39.2142 15.3646 39.3137 15.79 39.4217L17.1776 39.7469V41.2113H1.04416V39.7469V39.7479Z"
          fill="#2E2F75" />
        <path
          d="M52.8567 41.864C47.8065 41.864 44.0288 40.544 41.5237 37.9041C39.0174 35.2652 37.7654 31.6304 37.7654 27.0008C37.7654 24.6507 38.1895 22.5627 39.0379 20.7357C39.8851 18.9098 41.0231 17.3726 42.4495 16.1254C43.8749 14.8781 45.4849 13.9283 47.2774 13.2779C49.0699 12.6265 50.9296 12.3013 52.8578 12.3013C54.786 12.3013 56.664 12.5484 58.2638 13.0393C59.8624 13.5314 61.2216 14.3251 62.3402 15.4183C63.4576 16.5115 64.3345 17.9246 64.9707 19.6553C65.607 21.3871 65.9434 23.4923 65.9822 25.9707H46.9011C46.9387 28.1914 47.1907 30.0184 47.6525 31.4507C48.1155 32.883 48.7597 34.0297 49.5898 34.8897C50.4188 35.7487 51.4199 36.3487 52.5967 36.6889C53.7723 37.0301 55.1121 37.1991 56.6149 37.1991C58.4268 37.1991 60.0163 36.9916 61.3846 36.5755C62.7529 36.1605 63.9958 35.6802 65.1144 35.1379V36.9274C64.6127 37.4698 63.9673 38.0314 63.1771 38.609C62.3869 39.1877 61.4713 39.7204 60.4302 40.2092C59.3892 40.697 58.233 41.096 56.9604 41.403C55.6879 41.71 54.3196 41.864 52.8555 41.864H52.8567ZM52.3937 14.4717C51.6617 14.4717 50.9775 14.6417 50.3413 14.9808C49.705 15.321 49.136 15.8654 48.6354 16.6164C48.1337 17.3673 47.7289 18.3321 47.4211 19.512C47.1121 20.6918 46.9387 22.122 46.9011 23.8014L56.7883 23.319C56.7883 21.7102 56.7199 20.3431 56.5864 19.2168C56.4508 18.0914 56.2193 17.179 55.892 16.4826C55.5636 15.7863 55.1109 15.2771 54.5328 14.9541C53.9547 14.6321 53.2409 14.4706 52.3937 14.4706V14.4717Z"
          fill="#2E2F75" />
        <path
          d="M72.9785 52.4977C71.2442 52.4977 69.8177 52.1265 68.7003 51.3853C67.5817 50.644 67.023 49.677 67.023 48.4832C67.023 47.4702 67.3502 46.684 68.0059 46.1235C68.6604 45.563 69.5475 45.2827 70.6661 45.2827C71.7847 45.2827 72.6798 45.4999 73.2397 45.9342C73.7984 46.3685 74.2317 47.0734 74.5407 48.05C74.7334 48.7731 75.0994 49.1346 75.6388 49.1346C76.2545 49.1346 76.9113 48.7367 77.6046 47.9409C78.299 47.145 79.1462 45.6625 80.1485 43.4932L80.7847 42.0833L70.0298 19.1387C69.6057 18.2712 69.2579 17.5748 68.9888 17.0507C68.7185 16.5265 68.4688 16.1104 68.2374 15.8034C68.0059 15.4964 67.7744 15.2793 67.5429 15.152C67.3115 15.0258 67.0412 14.9081 66.7334 14.799L65.6923 14.4738V13.064H82.7494V14.4738L81.1884 14.8535C80.6103 15.0354 80.1667 15.2793 79.8588 15.5863C79.5498 15.8943 79.3959 16.3554 79.3959 16.9694C79.3959 17.7652 79.665 18.7782 80.2055 20.0073L85.2933 32.1032H85.5248L90.3823 20.0073C90.9216 18.6702 91.1918 17.5844 91.1918 16.7522C91.1918 16.2099 91.0368 15.8034 90.7289 15.5317C90.4199 15.26 89.9569 15.0354 89.3412 14.8535L87.722 14.4738V13.064H98.4769V14.4738L97.1474 14.9081C96.8008 15.0161 96.502 15.1616 96.2512 15.3424C96.0003 15.5242 95.7597 15.7852 95.5282 16.1286C95.2968 16.473 95.0459 16.9244 94.7768 17.485C94.5066 18.0465 94.1782 18.7782 93.7939 19.6821L83.039 43.9831C82.4609 45.2485 81.8725 46.4059 81.275 47.4542C80.6764 48.5025 80.0025 49.3978 79.2511 50.1391C78.4997 50.8804 77.6125 51.4591 76.5909 51.8752C75.5692 52.2902 74.3651 52.4988 72.9774 52.4988L72.9785 52.4977Z"
          fill="#2E2F75" />
        <path
          d="M121.665 13.9865C120.92 15.1888 119.599 17.341 118.259 19.4847C116.085 22.9633 114.945 26.6815 114.926 30.6735C114.924 31.0072 114.931 31.3442 114.943 31.6822C114.953 31.9293 114.924 32.1251 114.855 32.2705C114.701 32.4556 114.495 32.5743 114.267 32.5904H114.262C114.181 32.5882 114.091 32.5775 113.994 32.5583C113.828 32.5059 113.679 32.3989 113.561 32.2524C113.561 32.2513 113.56 32.2513 113.56 32.2502C113.519 32.155 113.492 32.0502 113.486 31.9668C113.456 31.5934 113.432 31.2201 113.411 30.8468C113.343 29.6862 113.295 28.5224 113.146 27.3714C112.706 23.9859 110.994 21.0656 109.179 18.1903C108.058 16.4147 106.855 14.6754 105.884 12.8291C104.577 10.3432 104.322 7.72994 105.625 5.14239C108.368 -0.311913 115.355 -1.6426 120.229 2.19007C123.464 4.73377 124.335 9.09806 121.663 13.9865H121.665Z"
          fill="#2E2F75" />
        <path
          d="M114.007 45.6007C117.332 45.6007 120.028 43.0716 120.028 39.9517C120.028 36.8319 117.332 34.3027 114.007 34.3027C110.681 34.3027 107.985 36.8319 107.985 39.9517C107.985 43.0716 110.681 45.6007 114.007 45.6007Z"
          fill="#2E2F75" />
      </svg>

      <p class="news-text-1 mb-0">Let's keep in touch</p>
      <p class="news-text-2 mb-0">No Spammy Emails! Just secret sales, new drops and super fun brands.</p>
      {% form 'customer', class: 'news-form' %}
      {% if form.posted_successfully? %}
      <p class="newsletter-confirmed">You are all set for Updates. Stay Tuned!</p>
      {% else %}
      {% if form.errors %}
      <p class="Form__Alert Alert Alert--error">Some Error Occured</p>
      {% endif %}

      <input type="hidden" name="contact[tags]" value="newsletter">

      <input placeholder="Enter Your Email Address" type="text" name="contact[email]" aria-label="Your Email"
        class="email-input" required>
      <button type="submit" class="email-submit">Send</button>
      {% endif %}
      {% endform %}
    </div>
  </section>
  <!-- footer menu -->

  <section style="background: #F5F7FF;">
    <div class="container p-5">
      <div class="row">

        <div class="col-12 col-lg-3 footer-menu-container">
          <input type="checkbox" name="" class="d-none" id="pages">
          <label class="menu-title" for="pages">Hey! Makeup</label>

          <ul class="menu-items">
            <li>About US</li>
            <li>Our Brands</li>
            <li>Hey! Perks</li>
            <li>Offers</li>
          </ul>
        </div>

        <div class="col-12  col-lg-3 footer-menu-container">

          <input type="checkbox" name="" class="d-none" id="categories">
          <label class="menu-title" for="categories">Categories</label>

          <ul class="menu-items">
            <li>New In</li>
            <li>Brands</li>
            <li>Makeup</li>
            <li>Value Sets</li>
            <li>Hair</li>
            <li>Bath & Body</li>
            <li>Fragrances</li>
            <li>Tools & Brushes</li>

          </ul>
        </div>

        <div class="col-12  col-lg-3 footer-menu-container">

          <input type="checkbox" name="" class="d-none" id="policies">
          <label class="menu-title" for="policies">Policies</label>


          <ul class="menu-items">
            <li>Return policy</li>
            <li>Terms & Conditions</li>
            <li>Privacy Policy</li>
            <li>Shipping Policy</li>

          </ul>
        </div>

        <div class="col-12  col-lg-3 footer-menu-container">

          <input type="checkbox" name="" class="d-none" id="contact">
          <label class="menu-title" for="contact">Contact and Support</label>

          <ul class="menu-items ">
            <li>
              <a href="tel:+91 9810245261">
                <span>+91 9810245261</span>
              </a>
              <p class="mb-0">Mon-Sat 10 AM to 7 PM</p>
            </li>

            <li>
              <a href="mailto:support@hokmakeup.com">Email:
                <span>support@hokmakeup.com</span>
              </a>
            </li>
          </ul>
        </div>

      </div>
    </div>
  </section>

</footer>
<!-- Copyright -->
<div class="copyright">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <p class="p-small my-2 text-center">© 2022 HeyMakeup pvt. ltd. All Rights Reserved.</p>
      </div>
    </div>
  </div>
</div>
<!-- end of copyright -->
{% schema %}
  {
    "name": "Footer",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}