<div class="bottom-nav mobile-screen">
    <div class="nav-lists d-flex justify-content-around">
        <ul class="list-unstyled btm-nav-icons-list">
            <li class="d-flex">
                <a href="{{ shop.url }}" class="btm-nav-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="19" height="22" viewBox="0 0 19 22" fill="none">
                        <path
                            d="M1 10.7308C1 9.03874 1 8.19272 1.32674 7.44907C1.65348 6.70542 2.2671 6.15483 3.49435 5.05367L4.68482 3.98551C6.90306 1.99517 8.01218 1 9.33333 1C10.6545 1 11.7636 1.99517 13.9818 3.98551L15.1723 5.05367C16.3996 6.15484 17.0132 6.70542 17.3399 7.44907C17.6667 8.19272 17.6667 9.03874 17.6667 10.7308V16.0151C17.6667 18.365 17.6667 19.5399 16.9693 20.2699C16.2719 20.9999 15.1495 20.9999 12.9048 20.9999H5.7619C3.51712 20.9999 2.39473 20.9999 1.69736 20.2699C1 19.5399 1 18.365 1 16.0151V10.7308Z"
                            stroke-width="2" />
                        <path
                            d="M12.3098 20.9996V14.5225C12.3098 13.9702 11.8621 13.5225 11.3098 13.5225H7.35742C6.80514 13.5225 6.35742 13.9702 6.35742 14.5225V20.9996"
                            stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>Home
                </a>
            </li>
            <li class="btm-nav-icon"><svg xmlns="http://www.w3.org/2000/svg" width="21" height="20" viewBox="0 0 21 20"
                    fill="none">
                    <path
                        d="M7.42308 20H2.80769C2.19565 20 1.60868 19.7569 1.17591 19.3241C0.743131 18.8913 0.5 18.3043 0.5 17.6923V13.0769C0.5 12.4649 0.743131 11.8779 1.17591 11.4451C1.60868 11.0124 2.19565 10.7692 2.80769 10.7692H7.42308C8.03512 10.7692 8.62209 11.0124 9.05486 11.4451C9.48764 11.8779 9.73077 12.4649 9.73077 13.0769V17.6923C9.73077 18.3043 9.48764 18.8913 9.05486 19.3241C8.62209 19.7569 8.03512 20 7.42308 20ZM2.80769 12.3077C2.60368 12.3077 2.40802 12.3887 2.26376 12.533C2.11951 12.6773 2.03846 12.8729 2.03846 13.0769V17.6923C2.03846 17.8963 2.11951 18.092 2.26376 18.2362C2.40802 18.3805 2.60368 18.4615 2.80769 18.4615H7.42308C7.62709 18.4615 7.82275 18.3805 7.96701 18.2362C8.11126 18.092 8.19231 17.8963 8.19231 17.6923V13.0769C8.19231 12.8729 8.11126 12.6773 7.96701 12.533C7.82275 12.3887 7.62709 12.3077 7.42308 12.3077H2.80769ZM17.0385 20H13.5769C12.9649 20 12.3779 19.7569 11.9451 19.3241C11.5124 18.8913 11.2692 18.3043 11.2692 17.6923V13.0769C11.2692 12.4649 11.5124 11.8779 11.9451 11.4451C12.3779 11.0124 12.9649 10.7692 13.5769 10.7692H18.1923C18.8043 10.7692 19.3913 11.0124 19.8241 11.4451C20.2569 11.8779 20.5 12.4649 20.5 13.0769V16.5385C20.5 16.7425 20.419 16.9381 20.2747 17.0824C20.1304 17.2266 19.9348 17.3077 19.7308 17.3077C19.5268 17.3077 19.3311 17.2266 19.1868 17.0824C19.0426 16.9381 18.9615 16.7425 18.9615 16.5385V13.0769C18.9615 12.8729 18.8805 12.6773 18.7362 12.533C18.592 12.3887 18.3963 12.3077 18.1923 12.3077H13.5769C13.3729 12.3077 13.1773 12.3887 13.033 12.533C12.8887 12.6773 12.8077 12.8729 12.8077 13.0769V17.6923C12.8077 17.8963 12.8887 18.092 13.033 18.2362C13.1773 18.3805 13.3729 18.4615 13.5769 18.4615H17.0385C17.2425 18.4615 17.4381 18.5426 17.5824 18.6868C17.7266 18.8311 17.8077 19.0268 17.8077 19.2308C17.8077 19.4348 17.7266 19.6304 17.5824 19.7747C17.4381 19.919 17.2425 20 17.0385 20ZM7.42308 9.23077H2.80769C2.19565 9.23077 1.60868 8.98764 1.17591 8.55486C0.743131 8.12209 0.5 7.53512 0.5 6.92308V2.30769C0.5 1.69565 0.743131 1.10868 1.17591 0.675907C1.60868 0.243131 2.19565 0 2.80769 0H7.42308C8.03512 0 8.62209 0.243131 9.05486 0.675907C9.48764 1.10868 9.73077 1.69565 9.73077 2.30769V6.92308C9.73077 7.53512 9.48764 8.12209 9.05486 8.55486C8.62209 8.98764 8.03512 9.23077 7.42308 9.23077ZM2.80769 1.53846C2.60368 1.53846 2.40802 1.61951 2.26376 1.76376C2.11951 1.90802 2.03846 2.10368 2.03846 2.30769V6.92308C2.03846 7.12709 2.11951 7.32275 2.26376 7.46701C2.40802 7.61126 2.60368 7.69231 2.80769 7.69231H7.42308C7.62709 7.69231 7.82275 7.61126 7.96701 7.46701C8.11126 7.32275 8.19231 7.12709 8.19231 6.92308V2.30769C8.19231 2.10368 8.11126 1.90802 7.96701 1.76376C7.82275 1.61951 7.62709 1.53846 7.42308 1.53846H2.80769ZM18.1923 9.23077H13.5769C12.9649 9.23077 12.3779 8.98764 11.9451 8.55486C11.5124 8.12209 11.2692 7.53512 11.2692 6.92308V2.30769C11.2692 1.69565 11.5124 1.10868 11.9451 0.675907C12.3779 0.243131 12.9649 0 13.5769 0H18.1923C18.8043 0 19.3913 0.243131 19.8241 0.675907C20.2569 1.10868 20.5 1.69565 20.5 2.30769V6.92308C20.5 7.53512 20.2569 8.12209 19.8241 8.55486C19.3913 8.98764 18.8043 9.23077 18.1923 9.23077ZM13.5769 1.53846C13.3729 1.53846 13.1773 1.61951 13.033 1.76376C12.8887 1.90802 12.8077 2.10368 12.8077 2.30769V6.92308C12.8077 7.12709 12.8887 7.32275 13.033 7.46701C13.1773 7.61126 13.3729 7.69231 13.5769 7.69231H18.1923C18.3963 7.69231 18.592 7.61126 18.7362 7.46701C18.8805 7.32275 18.9615 7.12709 18.9615 6.92308V2.30769C18.9615 2.10368 18.8805 1.90802 18.7362 1.76376C18.592 1.61951 18.3963 1.53846 18.1923 1.53846H13.5769Z"
                        stroke="none" fill="#191919" />
                </svg>Catagories</li>
            <li class="btm-nav-icon"><svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22"
                    fill="none">
                    <path
                        d="M8.00651 13.9945L14.0155 7.98548M2.98798 13.654L1.4657 12.1317C0.844767 11.5108 0.844767 10.4892 1.4657 9.8683L2.98798 8.34602C3.24837 8.08563 3.45869 7.57486 3.45869 7.21432V5.06109C3.45869 4.17977 4.17977 3.45869 5.06109 3.45869H7.21432C7.57486 3.45869 8.08563 3.24837 8.34602 2.98798L9.8683 1.4657C10.4892 0.844767 11.5108 0.844767 12.1317 1.4657L13.654 2.98798C13.9144 3.24837 14.4251 3.45869 14.7857 3.45869H16.9389C17.8202 3.45869 18.5413 4.17977 18.5413 5.06109V7.21432C18.5413 7.57486 18.7516 8.08563 19.012 8.34602L20.5343 9.8683C21.1552 10.4892 21.1552 11.5108 20.5343 12.1317L19.012 13.654C18.7516 13.9144 18.5413 14.4251 18.5413 14.7857V16.9389C18.5413 17.8202 17.8202 18.5413 16.9389 18.5413H14.7857C14.4251 18.5413 13.9144 18.7516 13.654 19.012L12.1317 20.5343C11.5108 21.1552 10.4892 21.1552 9.8683 20.5343L8.34602 19.012C8.08563 18.7516 7.57486 18.5413 7.21432 18.5413H5.06109C4.17977 18.5413 3.45869 17.8202 3.45869 16.9389V14.7857C3.45869 14.4151 3.24837 13.9044 2.98798 13.654Z"
                        stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M13.5095 13.4938H13.5185M8.50195 8.48633H8.50997" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" />
                </svg>Offers</li>
            <li class="btm-nav-icon"> <button
                    class="account-btn bg-transparent border-0 d-flex flex-column align-items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22" fill="none">
                        <circle cx="10.9993" cy="8.77718" r="3.33333" stroke-width="2" stroke-linecap="round" />
                        <circle cx="11" cy="11" r="10" stroke-width="2" />
                        <path
                            d="M17.6673 18.4517C17.2741 17.2704 16.4076 16.2265 15.2022 15.482C13.9969 14.7375 12.52 14.334 11.0007 14.334C9.48132 14.334 8.00444 14.7375 6.79908 15.482C5.59371 16.2265 4.72722 17.2704 4.33398 18.4517"
                            stroke-width="2" stroke-linecap="round" />
                    </svg>
                    Profile
                </button></li>
        </ul>
    </div>
</div>
<style>
    ul {
        margin: 0;
    }

    #shopify-section-mobile-bottom-nav {
        position: sticky;
        bottom: 0;
        z-index: 1;
    }

    .nav-lists {
        height: 72px;
    }

    ul.btm-nav-icons-list {
        display: flex;
        justify-content: space-around;
        background-image: url("https://cdn.shopify.com/s/files/1/0673/6396/3172/files/Rectangle_174.png?v=1691497153");
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        width: 100%;
    }

    .btm-nav-icon {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 12px;
        color: #191919;
        stroke: #191919;
    }

    .btm-nav-icon.active,
    .btm-nav-icon.active svg {
        color: #fff;
        stroke: #fff;
    }

    .btm-nav-icon svg {
        width: 24px;
        height: 24px;
    }
</style>
{% schema %}
{
"name": "mobile-bottom-nav",
"settings": [
{
"type": "text",
"id": "qsirguwfh",
"label": "Add Your Heading Here"
}
],

"presets": [
{
"name": "mobile-bottom-nav"
}
]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}