<nav id="navbar" class="navbar navbar-expand-lg navbar-dark desktop-screen" aria-label="Main navigation">
  <div class="container-fluid">
    <!-- Image Logo -->
    <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav navbar-nav-scroll h-100">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/">NEW ARRIVAL</a>
          <div class="nav-subLinks">
            <div class="row justify-content-evenly">
              <div class="col-7">
                <ul class="list-unstyled nav-subLinks-section">
                  <li>
                    <a href="/"><img loading="lazy"
                        src="https://ik.imagekit.io/x5vmdaedr/Hok/peter-kalonji-LH74lRYvBY4-unsplash-min.jpg?updatedAt=1681796475255"
                        alt="lady1" class="navImg_size1"></a>
                  </li>
                  <li>
                    <a href="/"><img loading="lazy"
                        src="https://ik.imagekit.io/x5vmdaedr/Hok/closeup-lipstick-touching-plump-red-female-lips-min.jpg?updatedAt=1681796475040"
                        alt="lady2" class="navImg_size2"></a>
                  </li>
                  <li>
                    <a href="/"></a><img loading="lazy"
                      src="https://ik.imagekit.io/x5vmdaedr/Hok/peter-kalonji-5eqZUR08qY8-unsplash-min.jpg?updatedAt=1681796475041"
                      alt="lady3" class="navImg_size3">
                    <p class="nav-subLinks-text">Explore</p>
                    <p class="nav-subLinks-text">Summer Essential</p>
                  </li>
                </ul>
              </div>
              <div class="col-5">
                <div class="row d-flex align-items-center">
                  <div class="col-4">
                    <ul class="list-unstyled">
                      <li class="subLinks"><a href="/">All</a></li>
                      <li class="subLinks"><a href="/">Just Dropped</a></li>
                      <li class="subLinks"><a href="/">New Makeup</a></li>
                      <li class="subLinks"><a href="/">New Skincare</a></li>
                      <li class="subLinks"><a href="/">New Haircare</a></li>
                      <li class="subLinks"><a href="/">New Bath & Body</a></li>
                      <li class="subLinks"><a href="/">New Fragnances</a></li>
                    </ul>
                  </div>
                  <div class="col-4">
                    <ul class="list-unstyled">
                      <li class="subLinks"><a href="/">Beauty In Trend</a></li>
                      <li class="subLinks submainLinks"><a href="/">Lorem Ipsum</a></li>
                      <li class="subLinks submainLinks"><a href="/">Lorem Ipsum</a></li>
                      <li class="subLinks submainLinks"><a href="/">Lorem Ipsum</a></li>
                      <li class="subLinks submainLinks"><a href="/">Lorem Ipsum</a></li>
                      <li class="subLinks"><a href="/">Latest Deals & Offers</a></li>
                      <li class="subLinks submainLinks"><a href="/">Lorem Ipsum</a></li>
                      <li class="subLinks submainLinks"><a href="/">Lorem Ipsum</a></li>
                      <li class="subLinks submainLinks"><a href="/">Lorem Ipsum</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link brands" href="/pages/brands">BRANDS</a>
          <div class="nav-subLinks">
            <div class="row justify-content-evenly">
              <div class="col-5">
                <ul class="list-unstyled nav-subLinks-section">
                  <li>
                    <a href="/"><img loading="lazy"
                        src="https://ik.imagekit.io/x5vmdaedr/Hok/closeup-lipstick-touching-plump-red-female-lips-min.jpg?updatedAt=1681796475040"
                        alt="lady2" class="navImg_size2"></a>
                  </li>
                  <li>
                    <a href="/"></a><img loading="lazy"
                      src="https://ik.imagekit.io/x5vmdaedr/Hok/peter-kalonji-5eqZUR08qY8-unsplash-min.jpg?updatedAt=1681796475041"
                      alt="lady3" class="navImg_size3">
                    <p class="nav-subLinks-text">Explore</p>
                    <p class="nav-subLinks-text">Summer Essential</p>
                  </li>
                </ul>
              </div>
              <div class="col-7">
                <div class="row d-flex align-items-center h-100">
                  <div class="col-3">
                    <ul class="list-unstyled innerlinks_Section">
                      <li class="innerLinks" linkvalue="Brand A-Z"><a href="/" class="subinnerLinks">Brand A-Z</a></li>
                      <li class="innerLinks" linkvalue="New Arrivals"><a href="/">New Arrivals</a></li>
                      <li class="innerLinks active" linkvalue="Makeup"><a href="/">Makeup</a></li>
                      <li class="innerLinks" linkvalue="Skincare"><a href="/">Skincare</a></li>
                    </ul>
                  </div>
                  <div class="col-9 border-left">
                    <div class="secinnerLinks" subinnercontent="Brand A-Z">
                      <div class="row d-flex">
                        <div class="col-4">
                          <ul class="list-unstyled">
                            <li class="subsub_brands"><a href="/">Revolution Beauty</a></li>
                            <li class="subsub_brands"><a href="/">Revolution Pro</a></li>
                            <li class="subsub_brands"><a href="/">XX Revolution</a></li>
                            <li class="subsub_brands"><a href="/">Revolution Relove</a></li>
                            <li class="subsub_brands"><a href="/">Milani</a></li>
                            <li class="subsub_brands"><a href="/">LA Girl</a></li>
                            <li class="subsub_brands"><a href="/">Pigment Play</a></li>
                            <li class="subsub_brands"><a href="/">Wet n Wild</a></li>
                            <li class="subsub_brands"><a href="/">LA Colors</a></li>
                            <li class="subsub_brands"><a href="/">Lord & Berry</a></li>
                            <li class="subsub_brands"><a href="/">Physician Formula</a></li>
                          </ul>
                        </div>
                        <div class="col-4">
                          <ul class="list-unstyled">
                            <li class="subLinks"><a href="/">All</a></li>
                            <li class="subLinks"><a href="/">Just Dropped</a></li>
                            <li class="subLinks"><a href="/">New Makeup</a></li>
                            <li class="subLinks"><a href="/">New Skincare</a></li>
                            <li class="subLinks"><a href="/">New Haircare</a></li>
                            <li class="subLinks"><a href="/">New Bath & Body</a></li>
                            <li class="subLinks"><a href="/">New Fragnances</a></li>
                          </ul>
                        </div>
                        <div class="col-4">
                          <ul class="list-unstyled">
                            <li class="subLinks"><a href="/">Beauty In Trend</a></li>
                            <li class="subLinks submainLinks"><a href="/">Lorem Ipsum</a></li>
                            <li class="subLinks submainLinks"><a href="/">Lorem Ipsum</a></li>
                            <li class="subLinks submainLinks"><a href="/">Lorem Ipsum</a></li>
                            <li class="subLinks submainLinks"><a href="/">Lorem Ipsum</a></li>
                            <li class="subLinks"><a href="/">Latest Deals & Offers</a></li>
                            <li class="subLinks submainLinks"><a href="/">Lorem Ipsum</a></li>
                            <li class="subLinks submainLinks"><a href="/">Lorem Ipsum</a></li>
                            <li class="subLinks submainLinks"><a href="/">Lorem Ipsum</a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="secinnerLinks" subinnercontent="New Arrivals">
                      <div class="row d-flex">
                        <div class="col-4">
                          <ul class="list-unstyled">
                            <li class="subsub_brands"><a href="/">Revolution Beauty</a></li>
                            <li class="subsub_brands"><a href="/">Revolution Pro</a></li>
                            <li class="subsub_brands"><a href="/">XX Revolution</a></li>
                            <li class="subsub_brands"><a href="/">Revolution Relove</a></li>
                            <li class="subsub_brands"><a href="/">Milani</a></li>
                            <li class="subsub_brands"><a href="/">LA Girl</a></li>
                            <li class="subsub_brands"><a href="/">Pigment Play</a></li>
                            <li class="subsub_brands"><a href="/">Wet n Wild</a></li>
                            <li class="subsub_brands"><a href="/">LA Colors</a></li>
                            <li class="subsub_brands"><a href="/">Lord & Berry</a></li>
                            <li class="subsub_brands"><a href="/">Physician Formula</a></li>
                          </ul>
                        </div>
                        <div class="col-4">
                          <ul class="list-unstyled">
                            <li class="subLinks"><a href="/">New Arrivals</a></li>
                            <li class="subLinks"><a href="/">New Makeup</a></li>
                            <li class="subLinks"><a href="/">New Skincare</a></li>
                            <li class="subLinks"><a href="/">New Bath & Body</a></li>
                            <li class="subLinks"><a href="/">New Fragnances</a></li>
                            <li class="subLinks"><a href="/">Just Dropped</a></li>
                            <li class="subLinks"><a href="/">New Haircare</a></li>
                          </ul>
                        </div>
                        <div class="col-4">
                          <ul class="list-unstyled">
                            <li class="subLinks"><a href="/">Latest Deals & Offers</a></li>
                            <li class="subLinks submainLinks"><a href="/">Lorem Ipsum</a></li>
                            <li class="subLinks submainLinks"><a href="/">Lorem Ipsum</a></li>
                            <li class="subLinks submainLinks"><a href="/">Lorem Ipsum</a></li>
                            <li class="subLinks submainLinks"><a href="/">Lorem Ipsum</a></li>
                            <li class="subLinks"><a href="/">Beauty In Trend</a></li>
                            <li class="subLinks submainLinks"><a href="/">Lorem Ipsum</a></li>
                            <li class="subLinks submainLinks"><a href="/">Lorem Ipsum</a></li>
                            <li class="subLinks submainLinks"><a href="/">Lorem Ipsum</a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="secinnerLinks show" subinnercontent="Makeup">
                      <div class="row d-flex">
                        <div class="col-4">
                          <ul class="list-unstyled">
                            <li class="subsub_brands"><a href="/">Revolution Beauty</a></li>
                            <li class="subsub_brands"><a href="/">Revolution Relove</a></li>
                            <li class="subsub_brands"><a href="/">XX Revolution</a></li>
                            <li class="subsub_brands"><a href="/">Revolution Pro</a></li>
                            <li class="subsub_brands"><a href="/">LA Girl</a></li>
                            <li class="subsub_brands"><a href="/">Milani</a></li>
                            <li class="subsub_brands"><a href="/">Wet n Wild</a></li>
                            <li class="subsub_brands"><a href="/">Pigment Play</a></li>
                            <li class="subsub_brands"><a href="/">Physician Formula</a></li>
                            <li class="subsub_brands"><a href="/">Lord & Berry</a></li>
                            <li class="subsub_brands"><a href="/">LA Colors</a></li>
                          </ul>
                        </div>
                        <div class="col-4">
                          <ul class="list-unstyled">
                            <li class="subLinks"><a href="/">Makeup</a></li>
                            <li class="subLinks"><a href="/">New Fragnances</a></li>
                            <li class="subLinks"><a href="/">Just Dropped</a></li>
                            <li class="subLinks"><a href="/">New Bath & Body</a></li>
                            <li class="subLinks"><a href="/">New Haircare</a></li>
                            <li class="subLinks"><a href="/">New Makeup</a></li>
                            <li class="subLinks"><a href="/">New Skincare</a></li>
                          </ul>
                        </div>
                        <div class="col-4">
                          <ul class="list-unstyled">
                            <li class="subLinks"><a href="/">Beauty In Trend</a></li>
                            <li class="subLinks submainLinks"><a href="/">Lorem Ipsum</a></li>
                            <li class="subLinks submainLinks"><a href="/">Lorem Ipsum</a></li>
                            <li class="subLinks submainLinks"><a href="/">Lorem Ipsum</a></li>
                            <li class="subLinks submainLinks"><a href="/">Lorem Ipsum</a></li>
                            <li class="subLinks"><a href="/">Latest Deals & Offers</a></li>
                            <li class="subLinks submainLinks"><a href="/">Lorem Ipsum</a></li>
                            <li class="subLinks submainLinks"><a href="/">Lorem Ipsum</a></li>
                            <li class="subLinks submainLinks"><a href="/">Lorem Ipsum</a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="secinnerLinks" subinnercontent="Skincare">
                      <div class="row d-flex">
                        <div class="col-4">
                          <ul class="list-unstyled">
                            <li class="subsub_brands"><a href="/">Revolution Beauty</a></li>
                            <li class="subsub_brands"><a href="/">LA Girl</a></li>
                            <li class="subsub_brands"><a href="/">XX Revolution</a></li>
                            <li class="subsub_brands"><a href="/">Revolution Pro</a></li>
                            <li class="subsub_brands"><a href="/">Milani</a></li>
                            <li class="subsub_brands"><a href="/">Revolution Relove</a></li>
                            <li class="subsub_brands"><a href="/">Wet n Wild</a></li>
                            <li class="subsub_brands"><a href="/">Pigment Play</a></li>
                            <li class="subsub_brands"><a href="/">Physician Formula</a></li>
                            <li class="subsub_brands"><a href="/">Lord & Berry</a></li>
                            <li class="subsub_brands"><a href="/">LA Colors</a></li>
                          </ul>
                        </div>
                        <div class="col-4">
                          <ul class="list-unstyled">
                            <li class="subLinks"><a href="/">New Skincare</a></li>
                            <li class="subLinks"><a href="/">Skincare</a></li>
                            <li class="subLinks"><a href="/">Just Dropped</a></li>
                            <li class="subLinks"><a href="/">New Haircare</a></li>
                            <li class="subLinks"><a href="/">New Bath & Body</a></li>
                            <li class="subLinks"><a href="/">New Fragnances</a></li>
                            <li class="subLinks"><a href="/">New Makeup</a></li>
                          </ul>
                        </div>
                        <div class="col-4">
                          <ul class="list-unstyled">
                            <li class="subLinks"><a href="/">Latest Deals & Offers</a></li>
                            <li class="subLinks submainLinks"><a href="/">Lorem Ipsum</a></li>
                            <li class="subLinks submainLinks"><a href="/">Lorem Ipsum</a></li>
                            <li class="subLinks submainLinks"><a href="/">Lorem Ipsum</a></li>
                            <li class="subLinks submainLinks"><a href="/">Lorem Ipsum</a></li>
                            <li class="subLinks"><a href="/">Beauty In Trend</a></li>
                            <li class="subLinks submainLinks"><a href="/">Lorem Ipsum</a></li>
                            <li class="subLinks submainLinks"><a href="/">Lorem Ipsum</a></li>
                            <li class="subLinks submainLinks"><a href="/">Lorem Ipsum</a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/collections/makeup">MAKEUP</a>
          <div class="nav-subLinks">
            <div class="row justify-content-between">
              <div class="col-2">
                <ul class="list-unstyled ">
                  <li class="subLinks active"><a href="/">All</a></li>
                  <li class="subLinks"><a href="/">Just Dropped</a></li>
                  <li class="subLinks"><a href="/">New Makeup</a></li>
                  <li class="subLinks"><a href="/">New Skincare</a></li>
                  <li class="subLinks"><a href="/">New Haircare</a></li>
                  <li class="subLinks"><a href="/">New Bath & Body</a></li>
                  <li class="subLinks"><a href="/">New Fragnances</a></li>
                  <li class="subLinks"><a href="/">New Bath & Body</a></li>
                  <li class="subLinks"><a href="/">New Fragnances</a></li>
                </ul>
              </div>
              <div class="col-10">
                <div class="row border-left">
                  <div class="col-2">
                    <ul class="list-unstyled ">
                      <li class="subLinks"><a href="/">All</a></li>
                      <li class="subLinks"><a href="/">Just Dropped</a></li>
                      <li class="subLinks"><a href="/">New Makeup</a></li>
                      <li class="subLinks"><a href="/">New Skincare</a></li>
                      <li class="subLinks"><a href="/">New Haircare</a></li>
                      <li class="subLinks"><a href="/">New Bath & Body</a></li>
                      <li class="subLinks"><a href="/">New Fragnances</a></li>
                      <li class="subLinks"><a href="/">New Bath & Body</a></li>
                      <li class="subLinks"><a href="/">New Fragnances</a></li>
                    </ul>
                  </div>
                  <div class="col-10">
                    <div class="row">
                      <div class="col-4">
                        <div class="card border-0 rounded-0">
                          <img loading="lazy" class="card-img-top navImg_size4"
                            src="https://cdn.shopify.com/s/files/1/0673/6396/3172/files/Rectangle_31.jpg?v=1681811601"
                            alt="Card image cap">
                          <div class="card-body p-0">
                            <h5 class="card-title heading">Flawless highlights</h5>
                            <p class="card-text title">
                              something about the highilighter loreum ipsum loreum ipsum loreum ipsum
                            </p>
                            <a href="#" class="card-button">Explore</a>
                          </div>
                        </div>
                      </div>
                      <div class="col-4">
                        <div class="card border-0 rounded-0">
                          <img loading="lazy" class="card-img-top navImg_size4"
                            src="https://cdn.shopify.com/s/files/1/0673/6396/3172/files/Rectangle_32.jpg?v=1681813289"
                            alt="Card image cap">
                          <div class="card-body p-0">
                            <h5 class="card-title heading">BEST SELLER</h5>
                            <p class="card-text title">
                              something about the highilighter loreum ipsum loreum ipsum loreum ipsum
                            </p>
                            <a href="#" class="card-button">Shop Now</a>
                          </div>
                        </div>
                      </div>
                      <div class="col-4">
                        <div class="card border-0 rounded-0">
                          <img loading="lazy" class="card-img-top navImg_size4"
                            src="https://cdn.shopify.com/s/files/1/0673/6396/3172/files/Rectangle_33.jpg?v=1681813289"
                            alt="Card image cap">
                          <div class="card-body p-0">
                            <h5 class="card-title heading">TREND ALERT!</h5>
                            <p class="card-text title">
                              something about the highilighter loreum ipsum loreum ipsum loreum ipsum
                            </p>
                            <a href="#" class="card-button">Shop Now</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/">SKINCARE</a>
          <div class="nav-subLinks">
            <div class="row justify-content-evenly">
              <div class="col-7">
                <ul class="list-unstyled nav-subLinks-section">
                  <li>
                    <a href="/"><img loading="lazy" class="navImg_size1"
                        src="https://ik.imagekit.io/x5vmdaedr/Hok/peter-kalonji-LH74lRYvBY4-unsplash-min.jpg?updatedAt=1681796475255"
                        alt="lady1"></a>
                  </li>
                  <li>
                    <a href="/"><img loading="lazy" class="navImg_size2"
                        src="https://ik.imagekit.io/x5vmdaedr/Hok/closeup-lipstick-touching-plump-red-female-lips-min.jpg?updatedAt=1681796475040"
                        alt="lady2"></a>
                  </li>
                  <li>
                    <a href="/"></a><img loading="lazy" class="navImg_size3"
                      src="https://ik.imagekit.io/x5vmdaedr/Hok/peter-kalonji-5eqZUR08qY8-unsplash-min.jpg?updatedAt=1681796475041"
                      alt="lady3">
                    <p class="nav-subLinks-text">Explore</p>
                    <p class="nav-subLinks-text">Summer Essential</p>
                  </li>
                </ul>
              </div>
              <div class="col-5">
                <div class="row d-flex align-items-center">
                  <div class="col-4">
                    <ul class="list-unstyled">
                      <li class="subLinks"><a href="/">All</a></li>
                      <li class="subLinks"><a href="/">Just Dropped</a></li>
                      <li class="subLinks"><a href="/">New Makeup</a></li>
                      <li class="subLinks"><a href="/">New Skincare</a></li>
                      <li class="subLinks"><a href="/">New Haircare</a></li>
                      <li class="subLinks"><a href="/">New Bath & Body</a></li>
                      <li class="subLinks"><a href="/">New Fragnances</a></li>
                    </ul>
                  </div>
                  <div class="col-4">
                    <ul class="list-unstyled">
                      <li class="subLinks"><a href="/">Beauty In Trend</a></li>
                      <li class="subLinks submainLinks"><a href="/">Lorem Ipsum</a></li>
                      <li class="subLinks submainLinks"><a href="/">Lorem Ipsum</a></li>
                      <li class="subLinks submainLinks"><a href="/">Lorem Ipsum</a></li>
                      <li class="subLinks submainLinks"><a href="/">Lorem Ipsum</a></li>
                      <li class="subLinks"><a href="/">Latest Deals & Offers</a></li>
                      <li class="subLinks submainLinks"><a href="/">Lorem Ipsum</a></li>
                      <li class="subLinks submainLinks"><a href="/">Lorem Ipsum</a></li>
                      <li class="subLinks submainLinks"><a href="/">Lorem Ipsum</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/">HAIRCARE</a>
          <div class="nav-subLinks">
            <div class="row justify-content-evenly">
              <div class="col-5">
                <ul class="list-unstyled nav-subLinks-section">
                  <li>
                    <a href="/"><img loading="lazy"
                        src="https://ik.imagekit.io/x5vmdaedr/Hok/closeup-lipstick-touching-plump-red-female-lips-min.jpg?updatedAt=1681796475040"
                        alt="lady2" class="navImg_size2"></a>
                  </li>
                  <li>
                    <a href="/"></a><img loading="lazy"
                      src="https://ik.imagekit.io/x5vmdaedr/Hok/peter-kalonji-5eqZUR08qY8-unsplash-min.jpg?updatedAt=1681796475041"
                      alt="lady3" class="navImg_size3">
                    <p class="nav-subLinks-text">Explore</p>
                    <p class="nav-subLinks-text">Summer Essential</p>
                  </li>
                </ul>
              </div>
              <div class="col-7">
                <div class="row d-flex align-items-center h-100">
                  <div class="col-3">
                    <ul class="list-unstyled innerlinks_Section">
                      <li class="innerLinks2" linkvalue="Brand A-Z"><a href="/" class="subinnerLinks">Brand A-Z</a></li>
                      <li class="innerLinks2 active" linkvalue="New Arrivals"><a href="/">New Arrivals</a></li>
                      <li class="innerLinks2" linkvalue="Makeup"><a href="/">Makeup</a></li>
                      <li class="innerLinks2" linkvalue="Skincare"><a href="/">Skincare</a></li>
                    </ul>
                  </div>
                  <div class="col-9 border-left">
                    <div class="secinnerLinks2" subinnercontent="Brand A-Z">
                      <div class="row d-flex">
                        <div class="col-4">
                          <ul class="list-unstyled">
                            <li class="subsub_brands"><a href="/">Revolution Beauty</a></li>
                            <li class="subsub_brands"><a href="/">Revolution Pro</a></li>
                            <li class="subsub_brands"><a href="/">XX Revolution</a></li>
                            <li class="subsub_brands"><a href="/">Revolution Relove</a></li>
                            <li class="subsub_brands"><a href="/">Milani</a></li>
                            <li class="subsub_brands"><a href="/">LA Girl</a></li>
                            <li class="subsub_brands"><a href="/">Pigment Play</a></li>
                            <li class="subsub_brands"><a href="/">Wet n Wild</a></li>
                            <li class="subsub_brands"><a href="/">LA Colors</a></li>
                            <li class="subsub_brands"><a href="/">Lord & Berry</a></li>
                            <li class="subsub_brands"><a href="/">Physician Formula</a></li>
                          </ul>
                        </div>
                        <div class="col-4">
                          <ul class="list-unstyled">
                            <li class="subLinks"><a href="/">All</a></li>
                            <li class="subLinks"><a href="/">Just Dropped</a></li>
                            <li class="subLinks"><a href="/">New Makeup</a></li>
                            <li class="subLinks"><a href="/">New Skincare</a></li>
                            <li class="subLinks"><a href="/">New Haircare</a></li>
                            <li class="subLinks"><a href="/">New Bath & Body</a></li>
                            <li class="subLinks"><a href="/">New Fragnances</a></li>
                          </ul>
                        </div>
                        <div class="col-4">
                          <ul class="list-unstyled">
                            <li class="subLinks"><a href="/">Beauty In Trend</a></li>
                            <li class="subLinks submainLinks"><a href="/">Lorem Ipsum</a></li>
                            <li class="subLinks submainLinks"><a href="/">Lorem Ipsum</a></li>
                            <li class="subLinks submainLinks"><a href="/">Lorem Ipsum</a></li>
                            <li class="subLinks submainLinks"><a href="/">Lorem Ipsum</a></li>
                            <li class="subLinks"><a href="/">Latest Deals & Offers</a></li>
                            <li class="subLinks submainLinks"><a href="/">Lorem Ipsum</a></li>
                            <li class="subLinks submainLinks"><a href="/">Lorem Ipsum</a></li>
                            <li class="subLinks submainLinks"><a href="/">Lorem Ipsum</a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="secinnerLinks2 show" subinnercontent="New Arrivals">
                      <div class="row d-flex">
                        <div class="col-4">
                          <ul class="list-unstyled">
                            <li class="subsub_brands"><a href="/">Revolution Beauty</a></li>
                            <li class="subsub_brands"><a href="/">Revolution Pro</a></li>
                            <li class="subsub_brands"><a href="/">XX Revolution</a></li>
                            <li class="subsub_brands"><a href="/">Revolution Relove</a></li>
                            <li class="subsub_brands"><a href="/">Milani</a></li>
                            <li class="subsub_brands"><a href="/">LA Girl</a></li>
                            <li class="subsub_brands"><a href="/">Pigment Play</a></li>
                            <li class="subsub_brands"><a href="/">Wet n Wild</a></li>
                            <li class="subsub_brands"><a href="/">LA Colors</a></li>
                            <li class="subsub_brands"><a href="/">Lord & Berry</a></li>
                            <li class="subsub_brands"><a href="/">Physician Formula</a></li>
                          </ul>
                        </div>
                        <div class="col-4">
                          <ul class="list-unstyled">
                            <li class="subLinks"><a href="/">New Arrivals</a></li>
                            <li class="subLinks"><a href="/">New Makeup</a></li>
                            <li class="subLinks"><a href="/">New Skincare</a></li>
                            <li class="subLinks"><a href="/">New Bath & Body</a></li>
                            <li class="subLinks"><a href="/">New Fragnances</a></li>
                            <li class="subLinks"><a href="/">Just Dropped</a></li>
                            <li class="subLinks"><a href="/">New Haircare</a></li>
                          </ul>
                        </div>
                        <div class="col-4">
                          <ul class="list-unstyled">
                            <li class="subLinks"><a href="/">Latest Deals & Offers</a></li>
                            <li class="subLinks submainLinks"><a href="/">Lorem Ipsum</a></li>
                            <li class="subLinks submainLinks"><a href="/">Lorem Ipsum</a></li>
                            <li class="subLinks submainLinks"><a href="/">Lorem Ipsum</a></li>
                            <li class="subLinks submainLinks"><a href="/">Lorem Ipsum</a></li>
                            <li class="subLinks"><a href="/">Beauty In Trend</a></li>
                            <li class="subLinks submainLinks"><a href="/">Lorem Ipsum</a></li>
                            <li class="subLinks submainLinks"><a href="/">Lorem Ipsum</a></li>
                            <li class="subLinks submainLinks"><a href="/">Lorem Ipsum</a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="secinnerLinks2" subinnercontent="Makeup">
                      <div class="row d-flex">
                        <div class="col-4">
                          <ul class="list-unstyled">
                            <li class="subsub_brands"><a href="/">Revolution Beauty</a></li>
                            <li class="subsub_brands"><a href="/">Revolution Relove</a></li>
                            <li class="subsub_brands"><a href="/">XX Revolution</a></li>
                            <li class="subsub_brands"><a href="/">Revolution Pro</a></li>
                            <li class="subsub_brands"><a href="/">LA Girl</a></li>
                            <li class="subsub_brands"><a href="/">Milani</a></li>
                            <li class="subsub_brands"><a href="/">Wet n Wild</a></li>
                            <li class="subsub_brands"><a href="/">Pigment Play</a></li>
                            <li class="subsub_brands"><a href="/">Physician Formula</a></li>
                            <li class="subsub_brands"><a href="/">Lord & Berry</a></li>
                            <li class="subsub_brands"><a href="/">LA Colors</a></li>
                          </ul>
                        </div>
                        <div class="col-4">
                          <ul class="list-unstyled">
                            <li class="subLinks"><a href="/">Makeup</a></li>
                            <li class="subLinks"><a href="/">New Fragnances</a></li>
                            <li class="subLinks"><a href="/">Just Dropped</a></li>
                            <li class="subLinks"><a href="/">New Bath & Body</a></li>
                            <li class="subLinks"><a href="/">New Haircare</a></li>
                            <li class="subLinks"><a href="/">New Makeup</a></li>
                            <li class="subLinks"><a href="/">New Skincare</a></li>
                          </ul>
                        </div>
                        <div class="col-4">
                          <ul class="list-unstyled">
                            <li class="subLinks"><a href="/">Beauty In Trend</a></li>
                            <li class="subLinks submainLinks"><a href="/">Lorem Ipsum</a></li>
                            <li class="subLinks submainLinks"><a href="/">Lorem Ipsum</a></li>
                            <li class="subLinks submainLinks"><a href="/">Lorem Ipsum</a></li>
                            <li class="subLinks submainLinks"><a href="/">Lorem Ipsum</a></li>
                            <li class="subLinks"><a href="/">Latest Deals & Offers</a></li>
                            <li class="subLinks submainLinks"><a href="/">Lorem Ipsum</a></li>
                            <li class="subLinks submainLinks"><a href="/">Lorem Ipsum</a></li>
                            <li class="subLinks submainLinks"><a href="/">Lorem Ipsum</a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="secinnerLinks2" subinnercontent="Skincare">
                      <div class="row d-flex">
                        <div class="col-4">
                          <ul class="list-unstyled">
                            <li class="subsub_brands"><a href="/">Revolution Beauty</a></li>
                            <li class="subsub_brands"><a href="/">LA Girl</a></li>
                            <li class="subsub_brands"><a href="/">XX Revolution</a></li>
                            <li class="subsub_brands"><a href="/">Revolution Pro</a></li>
                            <li class="subsub_brands"><a href="/">Milani</a></li>
                            <li class="subsub_brands"><a href="/">Revolution Relove</a></li>
                            <li class="subsub_brands"><a href="/">Wet n Wild</a></li>
                            <li class="subsub_brands"><a href="/">Pigment Play</a></li>
                            <li class="subsub_brands"><a href="/">Physician Formula</a></li>
                            <li class="subsub_brands"><a href="/">Lord & Berry</a></li>
                            <li class="subsub_brands"><a href="/">LA Colors</a></li>
                          </ul>
                        </div>
                        <div class="col-4">
                          <ul class="list-unstyled">
                            <li class="subLinks"><a href="/">New Skincare</a></li>
                            <li class="subLinks"><a href="/">Skincare</a></li>
                            <li class="subLinks"><a href="/">Just Dropped</a></li>
                            <li class="subLinks"><a href="/">New Haircare</a></li>
                            <li class="subLinks"><a href="/">New Bath & Body</a></li>
                            <li class="subLinks"><a href="/">New Fragnances</a></li>
                            <li class="subLinks"><a href="/">New Makeup</a></li>
                          </ul>
                        </div>
                        <div class="col-4">
                          <ul class="list-unstyled">
                            <li class="subLinks"><a href="/">Latest Deals & Offers</a></li>
                            <li class="subLinks submainLinks"><a href="/">Lorem Ipsum</a></li>
                            <li class="subLinks submainLinks"><a href="/">Lorem Ipsum</a></li>
                            <li class="subLinks submainLinks"><a href="/">Lorem Ipsum</a></li>
                            <li class="subLinks submainLinks"><a href="/">Lorem Ipsum</a></li>
                            <li class="subLinks"><a href="/">Beauty In Trend</a></li>
                            <li class="subLinks submainLinks"><a href="/">Lorem Ipsum</a></li>
                            <li class="subLinks submainLinks"><a href="/">Lorem Ipsum</a></li>
                            <li class="subLinks submainLinks"><a href="/">Lorem Ipsum</a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/">BATH & BODY</a>
          <div class="nav-subLinks">
            <div class="row justify-content-between">
              <div class="col-2">
                <ul class="list-unstyled ">
                  <li class="subLinks active"><a href="/">All</a></li>
                  <li class="subLinks"><a href="/">Just Dropped</a></li>
                  <li class="subLinks"><a href="/">New Makeup</a></li>
                  <li class="subLinks"><a href="/">New Skincare</a></li>
                  <li class="subLinks"><a href="/">New Haircare</a></li>
                  <li class="subLinks"><a href="/">New Bath & Body</a></li>
                  <li class="subLinks"><a href="/">New Fragnances</a></li>
                  <li class="subLinks"><a href="/">New Bath & Body</a></li>
                  <li class="subLinks"><a href="/">New Fragnances</a></li>
                </ul>
              </div>
              <div class="col-10">
                <div class="row border-left">
                  <div class="col-2">
                    <ul class="list-unstyled ">
                      <li class="subLinks"><a href="/">All</a></li>
                      <li class="subLinks"><a href="/">Just Dropped</a></li>
                      <li class="subLinks"><a href="/">New Makeup</a></li>
                      <li class="subLinks"><a href="/">New Skincare</a></li>
                      <li class="subLinks"><a href="/">New Haircare</a></li>
                      <li class="subLinks"><a href="/">New Bath & Body</a></li>
                      <li class="subLinks"><a href="/">New Fragnances</a></li>
                      <li class="subLinks"><a href="/">New Bath & Body</a></li>
                      <li class="subLinks"><a href="/">New Fragnances</a></li>
                    </ul>
                  </div>
                  <div class="col-10">
                    <div class="row">
                      <div class="col-4">
                        <div class="card border-0 rounded-0">
                          <img loading="lazy" class="card-img-top navImg_size4"
                            src="https://cdn.shopify.com/s/files/1/0673/6396/3172/files/Rectangle_31.jpg?v=1681811601"
                            alt="Card image cap">
                          <div class="card-body p-0">
                            <h5 class="card-title heading">Flawless highlights</h5>
                            <p class="card-text title">
                              something about the highilighter loreum ipsum loreum ipsum loreum ipsum
                            </p>
                            <a href="#" class="card-button">Explore</a>
                          </div>
                        </div>
                      </div>
                      <div class="col-4">
                        <div class="card border-0 rounded-0">
                          <img loading="lazy" class="card-img-top navImg_size4"
                            src="https://cdn.shopify.com/s/files/1/0673/6396/3172/files/Rectangle_32.jpg?v=1681813289"
                            alt="Card image cap">
                          <div class="card-body p-0">
                            <h5 class="card-title heading">BEST SELLER</h5>
                            <p class="card-text title">
                              something about the highilighter loreum ipsum loreum ipsum loreum ipsum
                            </p>
                            <a href="#" class="card-button">Shop Now</a>
                          </div>
                        </div>
                      </div>
                      <div class="col-4">
                        <div class="card border-0 rounded-0">
                          <img loading="lazy" class="card-img-top navImg_size4"
                            src="https://cdn.shopify.com/s/files/1/0673/6396/3172/files/Rectangle_33.jpg?v=1681813289"
                            alt="Card image cap">
                          <div class="card-body p-0">
                            <h5 class="card-title heading">TREND ALERT!</h5>
                            <p class="card-text title">
                              something about the highilighter loreum ipsum loreum ipsum loreum ipsum
                            </p>
                            <a href="#" class="card-button">Shop Now</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/">FRAGNANCES</a>
          <div class="nav-subLinks">
            <div class="row justify-content-evenly">
              <div class="col-7">
                <ul class="list-unstyled nav-subLinks-section">
                  <li>
                    <a href="/"><img loading="lazy" class="navImg_size1"
                        src="https://ik.imagekit.io/x5vmdaedr/Hok/peter-kalonji-LH74lRYvBY4-unsplash-min.jpg?updatedAt=1681796475255"
                        alt="lady1"></a>
                  </li>
                  <li>
                    <a href="/"><img loading="lazy" class="navImg_size2"
                        src="https://ik.imagekit.io/x5vmdaedr/Hok/closeup-lipstick-touching-plump-red-female-lips-min.jpg?updatedAt=1681796475040"
                        alt="lady2"></a>
                  </li>
                  <li>
                    <a href="/"></a><img loading="lazy" class="navImg_size3"
                      src="https://ik.imagekit.io/x5vmdaedr/Hok/peter-kalonji-5eqZUR08qY8-unsplash-min.jpg?updatedAt=1681796475041"
                      alt="lady3">
                    <p class="nav-subLinks-text">Explore</p>
                    <p class="nav-subLinks-text">Summer Essential</p>
                  </li>
                </ul>
              </div>
              <div class="col-5">
                <div class="row d-flex align-items-center">
                  <div class="col-4">
                    <ul class="list-unstyled">
                      <li class="subLinks"><a href="/">All</a></li>
                      <li class="subLinks"><a href="/">Just Dropped</a></li>
                      <li class="subLinks"><a href="/">New Makeup</a></li>
                      <li class="subLinks"><a href="/">New Skincare</a></li>
                      <li class="subLinks"><a href="/">New Haircare</a></li>
                      <li class="subLinks"><a href="/">New Bath & Body</a></li>
                      <li class="subLinks"><a href="/">New Fragnances</a></li>
                    </ul>
                  </div>
                  <div class="col-4">
                    <ul class="list-unstyled">
                      <li class="subLinks"><a href="/">Beauty In Trend</a></li>
                      <li class="subLinks submainLinks"><a href="/">Lorem Ipsum</a></li>
                      <li class="subLinks submainLinks"><a href="/">Lorem Ipsum</a></li>
                      <li class="subLinks submainLinks"><a href="/">Lorem Ipsum</a></li>
                      <li class="subLinks submainLinks"><a href="/">Lorem Ipsum</a></li>
                      <li class="subLinks"><a href="/">Latest Deals & Offers</a></li>
                      <li class="subLinks submainLinks"><a href="/">Lorem Ipsum</a></li>
                      <li class="subLinks submainLinks"><a href="/">Lorem Ipsum</a></li>
                      <li class="subLinks submainLinks"><a href="/">Lorem Ipsum</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/">KITS /COMBOS</a>
          <div class="nav-subLinks">
            <div class="row justify-content-evenly">
              <div class="col-5">
                <ul class="list-unstyled nav-subLinks-section">
                  <li>
                    <a href="/"><img loading="lazy"
                        src="https://ik.imagekit.io/x5vmdaedr/Hok/closeup-lipstick-touching-plump-red-female-lips-min.jpg?updatedAt=1681796475040"
                        alt="lady2" class="navImg_size2"></a>
                  </li>
                  <li>
                    <a href="/"></a><img loading="lazy"
                      src="https://ik.imagekit.io/x5vmdaedr/Hok/peter-kalonji-5eqZUR08qY8-unsplash-min.jpg?updatedAt=1681796475041"
                      alt="lady3" class="navImg_size3">
                    <p class="nav-subLinks-text">Explore</p>
                    <p class="nav-subLinks-text">Summer Essential</p>
                  </li>
                </ul>
              </div>
              <div class="col-7">
                <div class="row d-flex align-items-center h-100">
                  <div class="col-3">
                    <ul class="list-unstyled innerlinks_Section">
                      <li class="innerLinks3" linkvalue="Brand A-Z"><a href="/" class="subinnerLinks">Brand A-Z</a></li>
                      <li class="innerLinks3" linkvalue="New Arrivals"><a href="/">New Arrivals</a></li>
                      <li class="innerLinks3 " linkvalue="Makeup"><a href="/">Makeup</a></li>
                      <li class="innerLinks3 active" linkvalue="Skincare"><a href="/">Skincare</a></li>
                    </ul>
                  </div>
                  <div class="col-9 border-left">
                    <div class="secinnerLinks3" subinnercontent="Brand A-Z">
                      <div class="row d-flex">
                        <div class="col-4">
                          <ul class="list-unstyled">
                            <li class="subsub_brands"><a href="/">Revolution Beauty</a></li>
                            <li class="subsub_brands"><a href="/">Revolution Pro</a></li>
                            <li class="subsub_brands"><a href="/">XX Revolution</a></li>
                            <li class="subsub_brands"><a href="/">Revolution Relove</a></li>
                            <li class="subsub_brands"><a href="/">Milani</a></li>
                            <li class="subsub_brands"><a href="/">LA Girl</a></li>
                            <li class="subsub_brands"><a href="/">Pigment Play</a></li>
                            <li class="subsub_brands"><a href="/">Wet n Wild</a></li>
                            <li class="subsub_brands"><a href="/">LA Colors</a></li>
                            <li class="subsub_brands"><a href="/">Lord & Berry</a></li>
                            <li class="subsub_brands"><a href="/">Physician Formula</a></li>
                          </ul>
                        </div>
                        <div class="col-4">
                          <ul class="list-unstyled">
                            <li class="subLinks"><a href="/">All</a></li>
                            <li class="subLinks"><a href="/">Just Dropped</a></li>
                            <li class="subLinks"><a href="/">New Makeup</a></li>
                            <li class="subLinks"><a href="/">New Skincare</a></li>
                            <li class="subLinks"><a href="/">New Haircare</a></li>
                            <li class="subLinks"><a href="/">New Bath & Body</a></li>
                            <li class="subLinks"><a href="/">New Fragnances</a></li>
                          </ul>
                        </div>
                        <div class="col-4">
                          <ul class="list-unstyled">
                            <li class="subLinks"><a href="/">Beauty In Trend</a></li>
                            <li class="subLinks submainLinks"><a href="/">Lorem Ipsum</a></li>
                            <li class="subLinks submainLinks"><a href="/">Lorem Ipsum</a></li>
                            <li class="subLinks submainLinks"><a href="/">Lorem Ipsum</a></li>
                            <li class="subLinks submainLinks"><a href="/">Lorem Ipsum</a></li>
                            <li class="subLinks"><a href="/">Latest Deals & Offers</a></li>
                            <li class="subLinks submainLinks"><a href="/">Lorem Ipsum</a></li>
                            <li class="subLinks submainLinks"><a href="/">Lorem Ipsum</a></li>
                            <li class="subLinks submainLinks"><a href="/">Lorem Ipsum</a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="secinnerLinks3" subinnercontent="New Arrivals">
                      <div class="row d-flex">
                        <div class="col-4">
                          <ul class="list-unstyled">
                            <li class="subsub_brands"><a href="/">Revolution Beauty</a></li>
                            <li class="subsub_brands"><a href="/">Revolution Pro</a></li>
                            <li class="subsub_brands"><a href="/">XX Revolution</a></li>
                            <li class="subsub_brands"><a href="/">Revolution Relove</a></li>
                            <li class="subsub_brands"><a href="/">Milani</a></li>
                            <li class="subsub_brands"><a href="/">LA Girl</a></li>
                            <li class="subsub_brands"><a href="/">Pigment Play</a></li>
                            <li class="subsub_brands"><a href="/">Wet n Wild</a></li>
                            <li class="subsub_brands"><a href="/">LA Colors</a></li>
                            <li class="subsub_brands"><a href="/">Lord & Berry</a></li>
                            <li class="subsub_brands"><a href="/">Physician Formula</a></li>
                          </ul>
                        </div>
                        <div class="col-4">
                          <ul class="list-unstyled">
                            <li class="subLinks"><a href="/">New Arrivals</a></li>
                            <li class="subLinks"><a href="/">New Makeup</a></li>
                            <li class="subLinks"><a href="/">New Skincare</a></li>
                            <li class="subLinks"><a href="/">New Bath & Body</a></li>
                            <li class="subLinks"><a href="/">New Fragnances</a></li>
                            <li class="subLinks"><a href="/">Just Dropped</a></li>
                            <li class="subLinks"><a href="/">New Haircare</a></li>
                          </ul>
                        </div>
                        <div class="col-4">
                          <ul class="list-unstyled">
                            <li class="subLinks"><a href="/">Latest Deals & Offers</a></li>
                            <li class="subLinks submainLinks"><a href="/">Lorem Ipsum</a></li>
                            <li class="subLinks submainLinks"><a href="/">Lorem Ipsum</a></li>
                            <li class="subLinks submainLinks"><a href="/">Lorem Ipsum</a></li>
                            <li class="subLinks submainLinks"><a href="/">Lorem Ipsum</a></li>
                            <li class="subLinks"><a href="/">Beauty In Trend</a></li>
                            <li class="subLinks submainLinks"><a href="/">Lorem Ipsum</a></li>
                            <li class="subLinks submainLinks"><a href="/">Lorem Ipsum</a></li>
                            <li class="subLinks submainLinks"><a href="/">Lorem Ipsum</a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="secinnerLinks3 " subinnercontent="Makeup">
                      <div class="row d-flex">
                        <div class="col-4">
                          <ul class="list-unstyled">
                            <li class="subsub_brands"><a href="/">Revolution Beauty</a></li>
                            <li class="subsub_brands"><a href="/">Revolution Relove</a></li>
                            <li class="subsub_brands"><a href="/">XX Revolution</a></li>
                            <li class="subsub_brands"><a href="/">Revolution Pro</a></li>
                            <li class="subsub_brands"><a href="/">LA Girl</a></li>
                            <li class="subsub_brands"><a href="/">Milani</a></li>
                            <li class="subsub_brands"><a href="/">Wet n Wild</a></li>
                            <li class="subsub_brands"><a href="/">Pigment Play</a></li>
                            <li class="subsub_brands"><a href="/">Physician Formula</a></li>
                            <li class="subsub_brands"><a href="/">Lord & Berry</a></li>
                            <li class="subsub_brands"><a href="/">LA Colors</a></li>
                          </ul>
                        </div>
                        <div class="col-4">
                          <ul class="list-unstyled">
                            <li class="subLinks"><a href="/">Makeup</a></li>
                            <li class="subLinks"><a href="/">New Fragnances</a></li>
                            <li class="subLinks"><a href="/">Just Dropped</a></li>
                            <li class="subLinks"><a href="/">New Bath & Body</a></li>
                            <li class="subLinks"><a href="/">New Haircare</a></li>
                            <li class="subLinks"><a href="/">New Makeup</a></li>
                            <li class="subLinks"><a href="/">New Skincare</a></li>
                          </ul>
                        </div>
                        <div class="col-4">
                          <ul class="list-unstyled">
                            <li class="subLinks"><a href="/">Beauty In Trend</a></li>
                            <li class="subLinks submainLinks"><a href="/">Lorem Ipsum</a></li>
                            <li class="subLinks submainLinks"><a href="/">Lorem Ipsum</a></li>
                            <li class="subLinks submainLinks"><a href="/">Lorem Ipsum</a></li>
                            <li class="subLinks submainLinks"><a href="/">Lorem Ipsum</a></li>
                            <li class="subLinks"><a href="/">Latest Deals & Offers</a></li>
                            <li class="subLinks submainLinks"><a href="/">Lorem Ipsum</a></li>
                            <li class="subLinks submainLinks"><a href="/">Lorem Ipsum</a></li>
                            <li class="subLinks submainLinks"><a href="/">Lorem Ipsum</a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="secinnerLinks3 show" subinnercontent="Skincare">
                      <div class="row d-flex">
                        <div class="col-4">
                          <ul class="list-unstyled">
                            <li class="subsub_brands"><a href="/">Revolution Beauty</a></li>
                            <li class="subsub_brands"><a href="/">LA Girl</a></li>
                            <li class="subsub_brands"><a href="/">XX Revolution</a></li>
                            <li class="subsub_brands"><a href="/">Revolution Pro</a></li>
                            <li class="subsub_brands"><a href="/">Milani</a></li>
                            <li class="subsub_brands"><a href="/">Revolution Relove</a></li>
                            <li class="subsub_brands"><a href="/">Wet n Wild</a></li>
                            <li class="subsub_brands"><a href="/">Pigment Play</a></li>
                            <li class="subsub_brands"><a href="/">Physician Formula</a></li>
                            <li class="subsub_brands"><a href="/">Lord & Berry</a></li>
                            <li class="subsub_brands"><a href="/">LA Colors</a></li>
                          </ul>
                        </div>
                        <div class="col-4">
                          <ul class="list-unstyled">
                            <li class="subLinks"><a href="/">New Skincare</a></li>
                            <li class="subLinks"><a href="/">Skincare</a></li>
                            <li class="subLinks"><a href="/">Just Dropped</a></li>
                            <li class="subLinks"><a href="/">New Haircare</a></li>
                            <li class="subLinks"><a href="/">New Bath & Body</a></li>
                            <li class="subLinks"><a href="/">New Fragnances</a></li>
                            <li class="subLinks"><a href="/">New Makeup</a></li>
                          </ul>
                        </div>
                        <div class="col-4">
                          <ul class="list-unstyled">
                            <li class="subLinks"><a href="/">Latest Deals & Offers</a></li>
                            <li class="subLinks submainLinks"><a href="/">Lorem Ipsum</a></li>
                            <li class="subLinks submainLinks"><a href="/">Lorem Ipsum</a></li>
                            <li class="subLinks submainLinks"><a href="/">Lorem Ipsum</a></li>
                            <li class="subLinks submainLinks"><a href="/">Lorem Ipsum</a></li>
                            <li class="subLinks"><a href="/">Beauty In Trend</a></li>
                            <li class="subLinks submainLinks"><a href="/">Lorem Ipsum</a></li>
                            <li class="subLinks submainLinks"><a href="/">Lorem Ipsum</a></li>
                            <li class="subLinks submainLinks"><a href="/">Lorem Ipsum</a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/">TUTORIALS/BLOGS</a>
          <div class="nav-subLinks">
            <div class="row justify-content-between">
              <div class="col-2">
                <ul class="list-unstyled ">
                  <li class="subLinks active"><a href="/">All</a></li>
                  <li class="subLinks"><a href="/">Just Dropped</a></li>
                  <li class="subLinks"><a href="/">New Makeup</a></li>
                  <li class="subLinks"><a href="/">New Skincare</a></li>
                  <li class="subLinks"><a href="/">New Haircare</a></li>
                  <li class="subLinks"><a href="/">New Bath & Body</a></li>
                  <li class="subLinks"><a href="/">New Fragnances</a></li>
                  <li class="subLinks"><a href="/">New Bath & Body</a></li>
                  <li class="subLinks"><a href="/">New Fragnances</a></li>
                </ul>
              </div>
              <div class="col-10">
                <div class="row border-left">
                  <div class="col-2">
                    <ul class="list-unstyled ">
                      <li class="subLinks"><a href="/">All</a></li>
                      <li class="subLinks"><a href="/">Just Dropped</a></li>
                      <li class="subLinks"><a href="/">New Makeup</a></li>
                      <li class="subLinks"><a href="/">New Skincare</a></li>
                      <li class="subLinks"><a href="/">New Haircare</a></li>
                      <li class="subLinks"><a href="/">New Bath & Body</a></li>
                      <li class="subLinks"><a href="/">New Fragnances</a></li>
                      <li class="subLinks"><a href="/">New Bath & Body</a></li>
                      <li class="subLinks"><a href="/">New Fragnances</a></li>
                    </ul>
                  </div>
                  <div class="col-10">
                    <div class="row">
                      <div class="col-4">
                        <div class="card border-0 rounded-0">
                          <img loading="lazy" class="card-img-top navImg_size4"
                            src="https://cdn.shopify.com/s/files/1/0673/6396/3172/files/Rectangle_31.jpg?v=1681811601"
                            alt="Card image cap">
                          <div class="card-body p-0">
                            <h5 class="card-title heading">Flawless highlights</h5>
                            <p class="card-text title">
                              something about the highilighter loreum ipsum loreum ipsum loreum ipsum
                            </p>
                            <a href="#" class="card-button">Explore</a>
                          </div>
                        </div>
                      </div>
                      <div class="col-4">
                        <div class="card border-0 rounded-0">
                          <img loading="lazy" class="card-img-top navImg_size4"
                            src="https://cdn.shopify.com/s/files/1/0673/6396/3172/files/Rectangle_32.jpg?v=1681813289"
                            alt="Card image cap">
                          <div class="card-body p-0">
                            <h5 class="card-title heading">BEST SELLER</h5>
                            <p class="card-text title">
                              something about the highilighter loreum ipsum loreum ipsum loreum ipsum
                            </p>
                            <a href="#" class="card-button">Shop Now</a>
                          </div>
                        </div>
                      </div>
                      <div class="col-4">
                        <div class="card border-0 rounded-0">
                          <img loading="lazy" class="card-img-top navImg_size4"
                            src="https://cdn.shopify.com/s/files/1/0673/6396/3172/files/Rectangle_33.jpg?v=1681813289"
                            alt="Card image cap">
                          <div class="card-body p-0">
                            <h5 class="card-title heading">TREND ALERT!</h5>
                            <p class="card-text title">
                              something about the highilighter loreum ipsum loreum ipsum loreum ipsum
                            </p>
                            <a href="#" class="card-button">Shop Now</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
{% schema %}
{
"name": "Navigation Bar",
"settings": [
{
"type": "text",
"id": "qsirguwfh",
"label": "Add Your Heading Here"
}
],

"presets": [
{
"name": "Navigation Bar"
}
]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}
<script>
  $(document).ready(function () {
    $('.nav-item').mouseenter(function () {
      $(this).find('.nav-link').addClass('active');
      if ($(this).children().hasClass('nav-subLinks')) $(this).children('.nav-subLinks').addClass('active');
    });
    $('.nav-item').mouseleave(function () {
      $(this).find('.nav-link').removeClass('active');
      if ($(this).children().hasClass('nav-subLinks')) $(this).children('.nav-subLinks').removeClass('active');
    });

    $('.innerLinks').mouseenter(function () {
      $('.innerLinks').removeClass('active');
      $(this).addClass('active');
      var lisection = $(this).attr('linkvalue');
      $('.secinnerLinks').removeClass('show');
      const showSection = document.querySelectorAll('.secinnerLinks');
      for (let jns = 0; jns < showSection.length; jns++) {
        if (showSection[jns].getAttribute('subinnercontent') == lisection) {
          showSection[jns].classList.add('show');
          break;
        }
      }
    });
    $('.innerLinks2').mouseenter(function () {
      $('.innerLinks2').removeClass('active');
      $(this).addClass('active');
      var lisection = $(this).attr('linkvalue');
      $('.secinnerLinks2').removeClass('show');
      const showSection = document.querySelectorAll('.secinnerLinks2');
      for (let jns = 0; jns < showSection.length; jns++) {
        if (showSection[jns].getAttribute('subinnercontent') == lisection) {
          showSection[jns].classList.add('show');
          break;
        }
      }
    });
    $('.innerLinks3').mouseenter(function () {
      $('.innerLinks3').removeClass('active');
      $(this).addClass('active');
      var lisection = $(this).attr('linkvalue');
      $('.secinnerLinks3').removeClass('show');
      const showSection = document.querySelectorAll('.secinnerLinks3');
      for (let jns = 0; jns < showSection.length; jns++) {
        if (showSection[jns].getAttribute('subinnercontent') == lisection) {
          showSection[jns].classList.add('show');
          break;
        }
      }
    });
  });
</script>