<div class="container">
  <video width="100%" height="100%" autoplay loop muted >
  <source src="https://cdn.shopify.com/videos/c/o/v/8302d1efa0cd4dabaf4bd77ccfd18d62.mp4" type="video/mp4">
</video>
</div>